code/.qtcreator/
code/build/
build_debug/
run_debug.sh
RECOMMENDATIONS.md
build_release/
build_wasm_release/
GEMINI.md
run_release.sh
build_wasm_release.sh
build_single_threaded_and_deploy_on_github.sh
